* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/gato_leon.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f3f3f3;
    min-height: 150vh;
}

#inicioCards {
    h1 {
        text-align: center;
        margin: 20px 0 50px 0;
        font-size: 3rem;
        color: #ff8c00;
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
        border: 3px solid #ff8c00;
        padding: 10px 20px;
        border-radius: 15px;
        background-color: rgba(255, 140, 0, 0.1);
    }

    .card img {
        max-height: 220px;
    }
}

#newsletter {
    background-color: #ff8c00b7;
    margin-bottom: 50px;

    h2 {
        color: rgb(255, 255, 255);
        text-align: center;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 20px 0 0px 0;
        padding:20px 0 10px 0;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    }    
    hr{
        color: white;
        width: 50%;
        
    }
    p {
        color: white;
        width: 60%;
        font-size: 1.5rem;
        /* margin: 0px 50px 20px 0px; */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
    .btn-apuntate{
        width: 25%;
        background-color: white;
        margin: 0px 50px 30px 50px;
        padding: 10px 10px 10px 10px;
    }
}

#bodyLeon {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/camuflaje_fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f3f3f3;
    min-height: 150vh;
}

#bodyPuma {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/fondo_puma.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f3f3f3;
}

#bodyTigre {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/fondo_puma.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f3f3f3;
}

#hero-section {
    background-color: #ffffff41;
    border-top: solid 5px #ff8c00;
    margin: 50px;
    padding: 50px;
    border-radius: 10px;

    h1 {
        color: #ff8c00;
        text-align: center;
        margin: 0;
        font-size: 4rem;
        font-weight: 600;
        margin: 20px 0 50px 0;
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
    }

    h2 {
        color: black;
        text-align: center;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 20px 0 50px 0;
        text-shadow: 0 0 25px rgba(255, 255, 255, 0.7);

    }

    p {
        font-size: 1.25rem;
        margin: 20px 0 50px 0;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

.carousel-inner img {
    max-height: 39rem;
    object-fit: contain;
}

#bodyEquipo {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/fondo_equipo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f3f3f3;
}

.accordion-button {
    background-color: #995e15;
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #995e15;
}


#equipoLugares {
    /* background: #f3f3f3; */
    background: url(../img/equipoLugares_fondo-removebg-preview.jpg);
    background-size: cover;
    background-position: center;
    /* padding-bottom: 300px; */
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

    .wrapper {
        background-color: rgb(63, 63, 63, 0.8);
        color: white;
        border-radius: 20px;
        /* width: 50%;*/
        margin: 100px;
        padding: 20px;
    }

    #equipoMapa_info div {
        padding: 20px;
    }

    #equipoMapa_info div:not(:last-child) {
        border-right: 2px solid #3f3f3f;
    }

    #equipoMapa_info div:not(:first-child) {
        padding-left: 20px;
    }

    #equipoMapa_info p {
        margin-top: 0;
    }

    .equipo_mapa {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 576px) {
    #hero-section{
        h1{
            font-size: 1.5rem !important;
        }
        iframe{
            width: 100%;
            height: 200px;
        }
    }
    .puma-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

@media (max-width: 768px) {

    body {
        .card {
            max-height: auto;
        }
    }
    #hero-section{
        h1{
            font-size: 3rem;
        }
        iframe{
            width: 100%;
            height: 400px;
        }
    }

    #introPuma,
    #puma2 {
        width: 90% !important;
    }

    #puma2 p {
        display: none;
    }

    .puma-fila {
        width: 100% !important;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    body {
        .card {
            min-height: 520px;
        }
    }
    
}

@media (max-width: 1200px) {
    body {
        .card {
            min-height: auto;
        }
    }
    #hero-section{
        h1{
            font-size: 3rem;
        }
        iframe{
            width: 100%;
            height: 500px;
        }
    }

    #puma3 {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

}