* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/camuflaje_fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f3f3f3;
    min-height: 150vh;
}

#bodyPuma {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/fondo_puma.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f3f3f3;
}

#bodyTigre {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/fondo_puma.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f3f3f3;
}

#hero-section {
    background-color: #ffffff41;
    border-top: solid 5px rgba(0, 0, 0, 1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    h1 {
        color: black;
        text-align: center;
        margin: 0;
        font-size: 4rem;
        font-weight: 600;
        margin: 20px 0 50px 0;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    
    h2 {
        color: black;
        text-align: center;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 20px 0 50px 0;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
        
    }
    
    p {
        font-size: 1.25rem;
        margin: 20px 0 50px 0;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

.carousel-inner img {
    max-height: 39rem;
    object-fit: contain;
}






#bodyEquipo {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/fondo_equipo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f3f3f3;
}

.accordion-button {
    background-color: #995e15;
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #995e15;
}


#equipoLugares {
    /* background: #f3f3f3; */
    background: url(../img/equipoLugares_fondo-removebg-preview.jpg);
    background-size: cover;
    background-position: center;
    /* padding-bottom: 300px; */
    display: flex;
    justify-content: center;
    color: black;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    
    .wrapper {
        background-color: rgb(63, 63, 63, 0.8);
        border-radius: 20px;
        /* width: 50%;*/
        margin: 100px;
        padding: 20px;
    }

    #equipoMapa_info div {
        padding: 20px;
    }

    #equipoMapa_info div:not(:last-child) {
        border-right: 2px solid #3f3f3f;
    }

    #equipoMapa_info div:not(:first-child) {
        padding-left: 20px;
    }

    #equipoMapa_info p {
        margin-top: 0;
    }

    .equipo_mapa {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 768px) {

    #introPuma,
    #puma2 {
        width: 90% !important;
    }

    #puma2 p {
        display: none;
    }

    .puma-fila {
        width: 100% !important;
        text-align: center;
    }

    /* .puma-wrap {} */
}

@media (max-width: 576px) {
    .puma-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

@media (max-width: 1200px) {
    #puma3 {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

}